.coalition-flag--flag { fill: #D950FF !important;} .coalition-span { color: #D950FF !important; } #metrics  li { background-color: #d950ff !important; } #metrics  ol { border-left: 1px solid rgb(217, 50, 255); } .home-banner { background-image: "https://github.com/KeyZox71/seekersrealcolor/blob/main/seekers-login.png?raw=true"; } .progress-bar { background: #d950ff !important; }

\n.container-inner-item.profile-item-top.profile-banner.home-banner.flex.flex-direction-row {\n	background-image: url("https://raw.githubusercontent.com/KeyZox71/seekersrealcolor/main/seekers-login.png") !important;\n}



div#coalition-top-body a {\n	color: blue !important;\n}\ndiv#coalition-global-data a {\n    color: #d950ff !important;\n}

div#coalition-cover {\n	background-image: url("https://raw.githubusercontent.com/KeyZox71/seekersrealcolor/main/seekers-login.png") !important;\n}